<!doctype html>
<html lang="fr">
<head>
    <title>My JS13K Game</title>
    <link rel="stylesheet" href="css/style.css" inline>
</head>
<body class="paused">
    <div id="game">
        <div id="left">
            <div id="score"></div>
        </div>
        <div id="grid">
            <div id="tuto-highlight"></div>
            <div id="menu">
                <p id="menu-play">Play</p>
                <p id="menu-tutorial">Tutorial</p>
            </div>
        </div>
        <div id="right">
            <div id="next-tile"></div>
            <div id="tile-list"></div>
        </div>
    </div>
    <script src="scripts/game.js" inline></script>
</body>
</html>