* {
  margin: 0;
  padding: 0;
  &, 
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: $background-color;
}

$tile-size: 20px;

#game {
  display: flex;
  height: 100%;
  overflow: hidden;
}

#grid {
  position: relative;
  width: 15*$tile-size;
  height: 25*$tile-size;
  margin: auto;
  background: #4d4d4d;

  &.added-tile {
    animation: addedTile 0.2s;
  }

  &.added-tile-speed {
    animation: addedTileSpeed 0.2s;
  }
}

@keyframes addedTileSpeed {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes addedTile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

#score {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  font-size: 14px;
}

.tile {
  position: absolute;
  display: flex;
  width: $tile-size;
  height: $tile-size;
  border: 1px solid #6b6b6b;
  background: #333;
  transition: top 0.1s ease;

  &::before {
    content: '';
    display: block;
    margin: auto;
  }

  &-0 {
    border: none;
    background: #c61111;
    
    &::before, &::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
  }
  
  &-1 {
    &::before {
      width: 50%;
      height: 50%;
      border: 2px solid #c61111;
    }
  }
  
  &-2 {
    &::before {
      width: 50%;
      height: 50%;
      border: 2px solid #8dc611;
      border-radius: 50%;
    }
  }

  &-3 {
    &::before {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid #4545f1;
    }
  }

  &-4 {
    &::before {
      width: 6px; 
      height: 12px; 
      border: 2px solid #6dbae4;
    }
  }
}