* {
    margin: 0;
    padding: 0;
    &, 
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: $background-color;

    &:not(.paused) {
        #menu {
            display: none;
        }
    }
}

#game {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 800px;
    width: 800px;
    margin: 0 auto;
}

#grid {
    position: relative;
    width: 15 * $tile-size;
    height: 25 * $tile-size;
    margin: auto;
    overflow: hidden;
    background: $grid-color;

    &.added-tile {
        animation: addedTile 0.2s;
    }

    &.added-tile-speed {
        animation: addedTileSpeed 0.2s;
    }
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: $tile-size * 2.5;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $tile-size * 2.5;
}

#tile-list {
    width: 1.5 * $tile-size;
    display: flex;
    flex-direction: column-reverse;

    .tile {
        position: relative;
        margin: $tile-size / 4;
        animation: expand .5s cubic-bezier(0.45, 0, 0.45, 1.5);
        
        &.highlight {
            &::before {
                content: '';
                display: block;
                width: $tile-size * 1.4;
                height: $tile-size * 1.4;
                position: absolute;
                top: -$tile-size * 0.2;
                left: -$tile-size * 0.2;
                background: rgba(100, 255, 100, 0.5);
                z-index: -1;
                border-radius: $tile-size / 10;
                transition: all 0.2s ease;
            }
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: $tile-size * 1.2;
                left: $tile-size * 0.25;
                border-style: solid;
                border-width: #{$tile-size * 0.25} #{$tile-size * 0.25} 0 #{$tile-size * 0.25};
                border-color: rgba(100, 255, 100, 0.5) transparent transparent transparent;
                z-index: -1;
                transition: opacity 0.2s ease;
            }

            &.tile-1,
            &.tile-0,
            &.changed {
                &::before {
                    transform: translateY(#{$tile-size * 1.5});
                    background: rgba(255, 100, 100, 0.5);
                }

                &::after {
                    transform: translateY(#{$tile-size * 1.5});
                    opacity: 0;
                    border-width: 0;
                }
            }
        }
    }
}

.ui {
    color: #fff;
    font: bold 14px/1.4 sans-serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}