.tile {
    position: absolute;
    display: flex;
    width: $tile-size;
    height: $tile-size;
    border: 1px solid #6b6b6b;
    border-radius: 4px;
    background: #333;
    transition: top 0.1s ease, left 0.1s ease, right 0.1s ease, opacity 0.2s ease, transform 0.2s ease;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);

    .tile-shape {
        display: flex;
        width: 100%;
        height: 100%;
        align-content: center;

        &::before {
            content: '';
            display: block;
            margin: auto;
        }
    }
  
    // Cross / Blocker
    &-0 {
        border: none;
        background: #c61111;

        .tile-shape {
            &::before, &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                content: ' ';
                height: 80%;
                width: 10%;
                background-color: #333;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }
      
            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    
    // Circle
    &-1 {
        .tile-shape {
            &::before {
                width: 50%;
                height: 50%;
                border: #{$tile-size / 10} solid #8dc611;
                border-radius: 50%;
            }
        }
    }

    // Rectangle
    &-2 {
        .tile-shape {
            &::before {
                width: 30%; 
                height: 75%; 
                border: #{$tile-size / 10} solid #6dbae4;
            }
        }
    }
        
    // Triangle
    &-3 {
        .tile-shape {
            &::before {
                width: 0; 
                height: 0; 
                border-left: #{$tile-size / 4} solid transparent;
                border-right: #{$tile-size / 4} solid transparent;
                border-bottom: #{$tile-size / 2.5} solid #4545f1;
            }
        }
    }
    
    // Square
    &-4 {
        .tile-shape {
            &::before {
                width: 50%;
                height: 50%;
                border: #{$tile-size / 10} solid #c61111;
            }
        }
    }

    // Star
    &-5 {
        .tile-shape {
            position: relative;
            display: block;
            width: 0px;
            height: 0px;
            margin-top: #{$tile-size / 3};
            margin-left: #{$tile-size / 10};
            border-right: #{$tile-size / 2.4} solid transparent;
            border-bottom: #{$tile-size / 3.42} solid #d49c00;
            border-left: #{$tile-size / 2.4} solid transparent;
            transform: scale(0.8) rotate(35deg);

            &::before {
                border-bottom: #{$tile-size / 3} solid #d49c00;
                border-left: #{$tile-size / 8} solid transparent;
                border-right: #{$tile-size / 8} solid transparent;
                position: absolute;
                height: 0;
                width: 0;
                top: -#{$tile-size / 5.33};
                left: -#{$tile-size / 3.6};
                display: block;
                content: '';
                transform: rotate(-35deg);
            }
    
            &::after {
                position: absolute;
                display: block;
                color: red;
                top: #{$tile-size / 80};
                left: -#{$tile-size / 2.28};
                width: 0px;
                height: 0px;
                border-right: #{$tile-size / 2.4} solid transparent;
                border-bottom: #{$tile-size / 3.42} solid #d49c00;
                border-left: #{$tile-size / 2.4} solid transparent;
                transform: rotate(-70deg);
                content: '';
            }
        }
    }
  
    // Dice
    &-6 {
        .tile-shape {
            &::before {
                width: 18%; 
                height: 18%; 
                left: 50%; 
                top: 50%;
                margin: -9%;
                border-radius: 50%;
                display: block;
                position: absolute;

                box-shadow: -#{$tile-size / 4} #{$tile-size / 4} 0 #fff,
                    -#{$tile-size / 4} 0 0 #fff,
                    -#{$tile-size / 4} -#{$tile-size / 4} 0 #fff,
                    #{$tile-size / 4} -#{$tile-size / 4} 0 #fff,
                    #{$tile-size / 4}  0 0 #fff,
                    #{$tile-size / 4}  #{$tile-size / 4} 0 #fff;
            }
        }
    }

    // Cut Diamond
    &-7 {
        .tile-shape {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::before {
                border-style: solid;
                border-color: transparent transparent #707 transparent;
                border-width: 0 #{$tile-size / 6} #{$tile-size / 6} #{$tile-size / 6};
                height: 0;
                width: #{$tile-size / 3};
                box-sizing: content-box;
                margin: 0;
            }

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-color: #707 transparent transparent transparent;
                border-width: #{$tile-size / 2} #{$tile-size / 3} 0 #{$tile-size / 3};
            }
        }
    }

    // Infinity
    &-8 {
        .tile-shape {
            &::before,
            &::after {
                content: "";
                box-sizing: content-box;
                position: absolute;
                top: calc(50% - #{$tile-size / 5});
                width: #{$tile-size / 5};
                height: #{$tile-size / 5};
                border: #{$tile-size / 10} solid #166726;
                margin: 0;
            }
            &::before {
                left: #{$tile-size / 12};
                border-radius: 50% 50% 0 50%;
                transform: rotate(-45deg);
            }
            &::after {
                right: #{$tile-size / 12};
                border-radius: 50% 50% 50% 0;
                transform: rotate(45deg);
            }
        }
    }

    // Heart
    &-9 {
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: #{$tile-size / 4};
          width: #{$tile-size / 3};
          height: #{$tile-size / 2};
          background: red;
          border-radius: #{$tile-size / 3} #{$tile-size / 3} 0 0;
        }
        &::before {
          left: #{$tile-size / 2 - 1px};
          transform: rotate(-45deg);
          transform-origin: 0 100%;
        }
        &::after {
            left: #{$tile-size / 4 - 3px};
            transform: rotate(45deg);
            transform-origin: 100% 100%;
        }
    }

    &.removed {
        opacity: 0;
    }
  
    &.added-tile {
        animation: flicker 0.5s ease;
    }
  
    &.added-tile-success {
        animation: flicker 0.25s ease 2;
    }
}
  